# Miscellaneous dir files
*Icon?
*/*.DS_Store

# Workspace files
CSE167FinalProject/CSE167FinalProject.xcodeproj/xcshareddata/
CSE167FinalProject/CSE167FinalProject.xcodeproj/project.xcworkspace/xcuserdata/
CSE167FinalProject/CSE167FinalProject.xcodeproj/project.xcworkspace/xcshareddata/
